[Unit]
Description=BotUpdate
After=syslog.target
After=network.target
After=vidememes_bot.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/avdosev/videomemes_bot
ExecStart=bash /home/avdosev/videomemes_bot/updater.sh
RestartSec=5m
Restart=always

[Install]
WantedBy=multi-user.target